@font-face {
  font-family: Oswald;
  src: url("../_fonts/Oswald.ttf");
}

@font-face {
  font-family: Bebas Neue;
  src: url("../_fonts/Bebas-neue.ttf");
}

@import "tailwindcss";

@theme {
  --font-oswald: "Oswald";
  --font-bebas: "Bebas Neue";

  --color-primary: var(--color-zinc-800);
  --color-secondary: var(--color-amber-500);
  --color-tertiary: var(--color-amber-700);
  --color-colorTo: var(--color-amber-600);

  --color-textLight: var(--color-zinc-50);
  --color-textP: var(--color-zinc-600);

  --spacing-wrapper: 1200px;

  --animate-moveOne: moveOne 5s ease-in-out infinite alternate;
  @keyframes moveOne {
    0% {
      transform: scale(1);
    }

    100% {
      transform: scale(2);
    }
  }

  --animate-fadeIn: fadeIn 0.8s ease-in-out;
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

p,
span,
label,
div {
  @apply font-oswald;
}

button,
a {
  @apply font-oswald;
}

h1 {
  @apply md:text-7xl text-5xl font-bebas uppercase;
}

h2 {
  @apply md:text-5xl text-4xl font-bebas;
}

h3 {
  @apply md:text-4xl text-3xl font-bebas;
}

h4 {
  @apply text-3xl font-bebas;
}

h5 {
  @apply text-2xl/normal font-bebas;
}
